######################
# Project Specific
######################

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Gradle
######################
.gradle/
/build/
/*/build/
/*/out/
######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################

######################
# Directories
######################

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*
/*/services.properties
/*/xfs.properties
######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar



